
    div {
    margin-left: 200px;
    margin-bottom: 20px;
    height: 100px;
    width: auto;
    background: blue;
}

.sector {
    margin: auto
}

.sector {
    margin-bottom: auto
}

table{
    
}